{
  "openapi": "3.0.4",
  "info": {
    "title": "Collective2 General API",
    "description": "API to automate your trading",
    "termsOfService": "https://trade.collective2.com/terms-of-service.html",
    "contact": {
      "name": "C2 Support",
      "url": "https://support.collective2.com",
      "email": "help@collective2.com"
    },
    "version": "v4"
  },
  "servers": [
    {
      "url": "https://api4-general.collective2.com"
    }
  ],
  "paths": {
    "/Autotrade/GetAutotradedStrategies": {
      "get": {
        "summary": "GetAutotradedStrategies",
        "description": "Request the Autotraded strategies of the person. Paginated endpoint.",
        "operationId": "C2_API_Autotrade/GetAutotradedStrategies_GET",
        "parameters": [
          {
            "name": "PersonId",
            "in": "query",
            "description": "PersonId",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64",
              "nullable": true
            }
          },
          {
            "name": "Account",
            "in": "query",
            "description": "The Autotrade account (optional)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAutotradedStrategiesResponse"
                }
              }
            }
          },
          "400": {
            "description": "BadRequest: Your request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseStatus"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized: Your API key is wrong.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseStatus"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden: You do not have access rights to the content. Unlike 401, your identity is known to the server.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseStatus"
                }
              }
            }
          },
          "404": {
            "description": "NotFound: When a non-existent endpoint or resource is requested (bad URL or requested data was not found).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseStatus"
                }
              }
            }
          },
          "304": {
            "description": "NotModified: Used when HTTP caching headers are in play. Only sent in response to If-Modified-Since headers."
          },
          "406": {
            "description": "NotAcceptable: If incorrect Accept header was provided as part of the request. Accept header must be 'application/json'.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseStatus"
                }
              }
            }
          },
          "409": {
            "description": "Conflict: When the request is well-formed and valid, but conflicts with the current resource state in a way that prevents processing.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseStatus"
                }
              }
            }
          },
          "429": {
            "description": "TooManyRequests: When a request is rejected due to rate limits.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseStatus"
                }
              }
            }
          },
          "500": {
            "description": "InternalServerError: Used for internal errors. No details are provided to clients for security reasons. Please contact us at help@collective2.com if you see this.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseStatus"
                }
              }
            }
          },
          "503": {
            "description": "ServiceUnavailable: We're temporarily offline for maintenance. Please try again later.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseStatus"
                }
              }
            }
          }
        }
      }
    },
    "/Autotrade/GetAutotraders": {
      "get": {
        "summary": "GetAutotraders",
        "description": "A list of Autotraders. Paginated endpoint.",
        "operationId": "C2_API_Autotrade/GetAutotraders_GET",
        "parameters": [
          {
            "name": "StrategyId",
            "in": "query",
            "description": "(Optional) StrategyId filter",
            "schema": {
              "type": "integer",
              "format": "int64",
              "nullable": true
            }
          },
          {
            "name": "BrokerId",
            "in": "query",
            "description": "(optional) The Autotrade BrokerId",
            "schema": {
              "type": "integer",
              "format": "int32",
              "nullable": true
            }
          },
          {
            "name": "WhiteLabelSiteId",
            "in": "query",
            "description": "(optional) The White Label Site Id",
            "schema": {
              "type": "integer",
              "format": "int64",
              "nullable": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAutotradersResponse"
                }
              }
            }
          },
          "400": {
            "description": "BadRequest: Your request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseStatus"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized: Your API key is wrong.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseStatus"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden: You do not have access rights to the content. Unlike 401, your identity is known to the server.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseStatus"
                }
              }
            }
          },
          "404": {
            "description": "NotFound: When a non-existent endpoint or resource is requested (bad URL or requested data was not found).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseStatus"
                }
              }
            }
          },
          "304": {
            "description": "NotModified: Used when HTTP caching headers are in play. Only sent in response to If-Modified-Since headers."
          },
          "406": {
            "description": "NotAcceptable: If incorrect Accept header was provided as part of the request. Accept header must be 'application/json'.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseStatus"
                }
              }
            }
          },
          "409": {
            "description": "Conflict: When the request is well-formed and valid, but conflicts with the current resource state in a way that prevents processing.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseStatus"
                }
              }
            }
          },
          "429": {
            "description": "TooManyRequests: When a request is rejected due to rate limits.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseStatus"
                }
              }
            }
          },
          "500": {
            "description": "InternalServerError: Used for internal errors. No details are provided to clients for security reasons. Please contact us at help@collective2.com if you see this.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseStatus"
                }
              }
            }
          },
          "503": {
            "description": "ServiceUnavailable: We're temporarily offline for maintenance. Please try again later.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseStatus"
                }
              }
            }
          }
        }
      }
    },
    "/Autotrade/GetAutotradeSettings": {
      "get": {
        "summary": "GetAutotradeSettings",
        "description": "The Autotrade Settings. Non-paginated endpoint.",
        "operationId": "C2_API_Autotrade/GetAutotradeSettings_GET",
        "parameters": [
          {
            "name": "PersonId",
            "in": "query",
            "description": "PersonId",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64",
              "nullable": true
            }
          },
          {
            "name": "Account",
            "in": "query",
            "description": "(Optional) Account",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAutotradeSettingsResponse"
                }
              }
            }
          },
          "400": {
            "description": "BadRequest: Your request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseStatus"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized: Your API key is wrong.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseStatus"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden: You do not have access rights to the content. Unlike 401, your identity is known to the server.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseStatus"
                }
              }
            }
          },
          "404": {
            "description": "NotFound: When a non-existent endpoint or resource is requested (bad URL or requested data was not found).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseStatus"
                }
              }
            }
          },
          "304": {
            "description": "NotModified: Used when HTTP caching headers are in play. Only sent in response to If-Modified-Since headers."
          },
          "406": {
            "description": "NotAcceptable: If incorrect Accept header was provided as part of the request. Accept header must be 'application/json'.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseStatus"
                }
              }
            }
          },
          "409": {
            "description": "Conflict: When the request is well-formed and valid, but conflicts with the current resource state in a way that prevents processing.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseStatus"
                }
              }
            }
          },
          "429": {
            "description": "TooManyRequests: When a request is rejected due to rate limits.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseStatus"
                }
              }
            }
          },
          "500": {
            "description": "InternalServerError: Used for internal errors. No details are provided to clients for security reasons. Please contact us at help@collective2.com if you see this.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseStatus"
                }
              }
            }
          },
          "503": {
            "description": "ServiceUnavailable: We're temporarily offline for maintenance. Please try again later.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseStatus"
                }
              }
            }
          }
        }
      }
    },
    "/Autotrade/SetAutotradeSettings": {
      "put": {
        "summary": "SetAutotradeSettings",
        "description": "Enable or disable Autotrade or Autosync in the specified account.",
        "operationId": "C2_API_Autotrade/SetAutotradeSettings_PUT",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SetAutotradeSettings"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BooleanResponseBase"
                }
              }
            }
          },
          "400": {
            "description": "BadRequest: Your request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseStatus"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized: Your API key is wrong.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseStatus"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden: You do not have access rights to the content. Unlike 401, your identity is known to the server.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseStatus"
                }
              }
            }
          },
          "404": {
            "description": "NotFound: When a non-existent endpoint or resource is requested (bad URL or requested data was not found).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseStatus"
                }
              }
            }
          },
          "304": {
            "description": "NotModified: Used when HTTP caching headers are in play. Only sent in response to If-Modified-Since headers."
          },
          "406": {
            "description": "NotAcceptable: If incorrect Accept header was provided as part of the request. Accept header must be 'application/json'.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseStatus"
                }
              }
            }
          },
          "409": {
            "description": "Conflict: When the request is well-formed and valid, but conflicts with the current resource state in a way that prevents processing.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseStatus"
                }
              }
            }
          },
          "429": {
            "description": "TooManyRequests: When a request is rejected due to rate limits.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseStatus"
                }
              }
            }
          },
          "500": {
            "description": "InternalServerError: Used for internal errors. No details are provided to clients for security reasons. Please contact us at help@collective2.com if you see this.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseStatus"
                }
              }
            }
          },
          "503": {
            "description": "ServiceUnavailable: We're temporarily offline for maintenance. Please try again later.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseStatus"
                }
              }
            }
          }
        }
      }
    },
    "/Autotrade/GetDashBoard": {
      "get": {
        "summary": "GetDashBoard",
        "description": "Request the Person's Autotraded strategies and a performance summary. Non-paginated endpoint.",
        "operationId": "C2_API_Autotrade/GetDashBoard_GET",
        "parameters": [
          {
            "name": "PersonId",
            "in": "query",
            "description": "PersonId",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64",
              "nullable": true
            }
          },
          {
            "name": "Account",
            "in": "query",
            "description": "The brokerage Account",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetDashBoardResponse"
                }
              }
            }
          },
          "400": {
            "description": "BadRequest: Your request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseStatus"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized: Your API key is wrong.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseStatus"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden: You do not have access rights to the content. Unlike 401, your identity is known to the server.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseStatus"
                }
              }
            }
          },
          "404": {
            "description": "NotFound: When a non-existent endpoint or resource is requested (bad URL or requested data was not found).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseStatus"
                }
              }
            }
          },
          "304": {
            "description": "NotModified: Used when HTTP caching headers are in play. Only sent in response to If-Modified-Since headers."
          },
          "406": {
            "description": "NotAcceptable: If incorrect Accept header was provided as part of the request. Accept header must be 'application/json'.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseStatus"
                }
              }
            }
          },
          "409": {
            "description": "Conflict: When the request is well-formed and valid, but conflicts with the current resource state in a way that prevents processing.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseStatus"
                }
              }
            }
          },
          "429": {
            "description": "TooManyRequests: When a request is rejected due to rate limits.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseStatus"
                }
              }
            }
          },
          "500": {
            "description": "InternalServerError: Used for internal errors. No details are provided to clients for security reasons. Please contact us at help@collective2.com if you see this.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseStatus"
                }
              }
            }
          },
          "503": {
            "description": "ServiceUnavailable: We're temporarily offline for maintenance. Please try again later.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseStatus"
                }
              }
            }
          }
        }
      }
    },
    "/Autotrade/SearchAccounts": {
      "get": {
        "summary": "SearchAccounts",
        "description": "Request a list of Autotrade and Papertrade accounts. Partial matches will be returned. Paginated endpoint. Only visible to the account owner or White-label site owner",
        "operationId": "C2_API_Autotrade/SearchAccounts_GET",
        "parameters": [
          {
            "name": "Account",
            "in": "query",
            "description": "The Autotrade account (optional)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "PersonId",
            "in": "query",
            "description": "PersonId (optional)",
            "schema": {
              "type": "integer",
              "format": "int64",
              "nullable": true
            }
          },
          {
            "name": "BrokerId",
            "in": "query",
            "description": "The Autotrade BrokerId (optional)",
            "schema": {
              "type": "integer",
              "format": "int32",
              "nullable": true
            }
          },
          {
            "name": "FirstName",
            "in": "query",
            "description": "The FirstName (optional). Not case-sensitive",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "LastName",
            "in": "query",
            "description": "The FirstName (optional). Not case-sensitive",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Email",
            "in": "query",
            "description": "The Email (optional)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "WhiteLabelSiteId",
            "in": "query",
            "description": "The White Label site Id (optional)",
            "schema": {
              "type": "integer",
              "format": "int64",
              "nullable": true
            }
          },
          {
            "name": "CountryCode",
            "in": "query",
            "description": "The person's country code. Not case-sensitive (optional)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "IPAddress",
            "in": "query",
            "description": "The person's last known IP address (optional)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Phone",
            "in": "query",
            "description": "The Phone number (optional)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountsResponse"
                }
              }
            }
          },
          "400": {
            "description": "BadRequest: Your request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseStatus"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized: Your API key is wrong.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseStatus"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden: You do not have access rights to the content. Unlike 401, your identity is known to the server.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseStatus"
                }
              }
            }
          },
          "404": {
            "description": "NotFound: When a non-existent endpoint or resource is requested (bad URL or requested data was not found).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseStatus"
                }
              }
            }
          },
          "304": {
            "description": "NotModified: Used when HTTP caching headers are in play. Only sent in response to If-Modified-Since headers."
          },
          "406": {
            "description": "NotAcceptable: If incorrect Accept header was provided as part of the request. Accept header must be 'application/json'.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseStatus"
                }
              }
            }
          },
          "409": {
            "description": "Conflict: When the request is well-formed and valid, but conflicts with the current resource state in a way that prevents processing.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseStatus"
                }
              }
            }
          },
          "429": {
            "description": "TooManyRequests: When a request is rejected due to rate limits.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseStatus"
                }
              }
            }
          },
          "500": {
            "description": "InternalServerError: Used for internal errors. No details are provided to clients for security reasons. Please contact us at help@collective2.com if you see this.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseStatus"
                }
              }
            }
          },
          "503": {
            "description": "ServiceUnavailable: We're temporarily offline for maintenance. Please try again later.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseStatus"
                }
              }
            }
          }
        }
      }
    },
    "/Autotrade/GetAutotradeActiveOrders": {
      "get": {
        "summary": "GetAutotradeActiveOrders",
        "description": "Request the Working orders of the Account. Non-paginated endpoint.",
        "operationId": "C2_API_Autotrade/GetAutotradeActiveOrders_GET",
        "parameters": [
          {
            "name": "Account",
            "in": "query",
            "description": "The Brokerage Account",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "PersonId",
            "in": "query",
            "description": "The PersonId owning the account",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64",
              "nullable": true
            }
          },
          {
            "name": "StrategyId",
            "in": "query",
            "description": "(Optional) StrategyId filter",
            "schema": {
              "type": "integer",
              "format": "int64",
              "nullable": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetActiveOrdersResponse"
                }
              }
            }
          },
          "400": {
            "description": "BadRequest: Your request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseStatus"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized: Your API key is wrong.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseStatus"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden: You do not have access rights to the content. Unlike 401, your identity is known to the server.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseStatus"
                }
              }
            }
          },
          "404": {
            "description": "NotFound: When a non-existent endpoint or resource is requested (bad URL or requested data was not found).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseStatus"
                }
              }
            }
          },
          "304": {
            "description": "NotModified: Used when HTTP caching headers are in play. Only sent in response to If-Modified-Since headers."
          },
          "406": {
            "description": "NotAcceptable: If incorrect Accept header was provided as part of the request. Accept header must be 'application/json'.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseStatus"
                }
              }
            }
          },
          "409": {
            "description": "Conflict: When the request is well-formed and valid, but conflicts with the current resource state in a way that prevents processing.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseStatus"
                }
              }
            }
          },
          "429": {
            "description": "TooManyRequests: When a request is rejected due to rate limits.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseStatus"
                }
              }
            }
          },
          "500": {
            "description": "InternalServerError: Used for internal errors. No details are provided to clients for security reasons. Please contact us at help@collective2.com if you see this.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseStatus"
                }
              }
            }
          },
          "503": {
            "description": "ServiceUnavailable: We're temporarily offline for maintenance. Please try again later.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseStatus"
                }
              }
            }
          }
        }
      }
    },
    "/Autotrade/GetAutotradeHistoricalOrders": {
      "get": {
        "summary": "GetAutotradeHistoricalOrders",
        "description": "Request the historical orders of the Account. Paginated endpoint.",
        "operationId": "C2_API_Autotrade/GetAutotradeHistoricalOrders_GET",
        "parameters": [
          {
            "name": "Account",
            "in": "query",
            "description": "Brokerage Account filter",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "PersonId",
            "in": "query",
            "description": "The PersonId owning the account",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64",
              "nullable": true
            }
          },
          {
            "name": "BrokerId",
            "in": "query",
            "description": "BrokerId (Optional)",
            "schema": {
              "type": "integer",
              "format": "int32",
              "nullable": true
            }
          },
          {
            "name": "StrategyId",
            "in": "query",
            "description": "StrategyId (Optional)",
            "schema": {
              "type": "integer",
              "format": "int64",
              "nullable": true
            }
          },
          {
            "name": "OrderStatus",
            "in": "query",
            "description": "'A' = PendingNew, '0' = Working, '1' = Partially filled, '2' = Filled, '4' = Canceled, '5' = Replaced, '6' = Pending Cancel, '8' = Rejected, 'C' = Expired, 'E' = Pending Replace (Optional)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "StartDate",
            "in": "query",
            "description": "StartDate (Optional)",
            "schema": {
              "type": "string",
              "format": "date-time",
              "nullable": true
            }
          },
          {
            "name": "EndDate",
            "in": "query",
            "description": "EndDate (Optional)",
            "schema": {
              "type": "string",
              "format": "date-time",
              "nullable": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAutotradeHistoricalOrdersResponse"
                }
              }
            }
          },
          "400": {
            "description": "BadRequest: Your request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseStatus"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized: Your API key is wrong.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseStatus"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden: You do not have access rights to the content. Unlike 401, your identity is known to the server.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseStatus"
                }
              }
            }
          },
          "404": {
            "description": "NotFound: When a non-existent endpoint or resource is requested (bad URL or requested data was not found).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseStatus"
                }
              }
            }
          },
          "304": {
            "description": "NotModified: Used when HTTP caching headers are in play. Only sent in response to If-Modified-Since headers."
          },
          "406": {
            "description": "NotAcceptable: If incorrect Accept header was provided as part of the request. Accept header must be 'application/json'.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseStatus"
                }
              }
            }
          },
          "409": {
            "description": "Conflict: When the request is well-formed and valid, but conflicts with the current resource state in a way that prevents processing.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseStatus"
                }
              }
            }
          },
          "429": {
            "description": "TooManyRequests: When a request is rejected due to rate limits.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseStatus"
                }
              }
            }
          },
          "500": {
            "description": "InternalServerError: Used for internal errors. No details are provided to clients for security reasons. Please contact us at help@collective2.com if you see this.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseStatus"
                }
              }
            }
          },
          "503": {
            "description": "ServiceUnavailable: We're temporarily offline for maintenance. Please try again later.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseStatus"
                }
              }
            }
          }
        }
      }
    },
    "/Autotrade/GetAutoTradeOpenPositions": {
      "get": {
        "summary": "GetAutoTradeOpenPositions",
        "description": "Request the open positions of the Account. Non-paginated endpoint.",
        "operationId": "C2_API_Autotrade/GetAutoTradeOpenPositions_GET",
        "parameters": [
          {
            "name": "Account",
            "in": "query",
            "description": "Brokerage Account filter",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "StrategyId",
            "in": "query",
            "description": "(Optional) StrategyId filter",
            "schema": {
              "type": "integer",
              "format": "int64",
              "nullable": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetOpenPositionsResponse"
                }
              }
            }
          },
          "400": {
            "description": "BadRequest: Your request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseStatus"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized: Your API key is wrong.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseStatus"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden: You do not have access rights to the content. Unlike 401, your identity is known to the server.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseStatus"
                }
              }
            }
          },
          "404": {
            "description": "NotFound: When a non-existent endpoint or resource is requested (bad URL or requested data was not found).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseStatus"
                }
              }
            }
          },
          "304": {
            "description": "NotModified: Used when HTTP caching headers are in play. Only sent in response to If-Modified-Since headers."
          },
          "406": {
            "description": "NotAcceptable: If incorrect Accept header was provided as part of the request. Accept header must be 'application/json'.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseStatus"
                }
              }
            }
          },
          "409": {
            "description": "Conflict: When the request is well-formed and valid, but conflicts with the current resource state in a way that prevents processing.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseStatus"
                }
              }
            }
          },
          "429": {
            "description": "TooManyRequests: When a request is rejected due to rate limits.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseStatus"
                }
              }
            }
          },
          "500": {
            "description": "InternalServerError: Used for internal errors. No details are provided to clients for security reasons. Please contact us at help@collective2.com if you see this.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseStatus"
                }
              }
            }
          },
          "503": {
            "description": "ServiceUnavailable: We're temporarily offline for maintenance. Please try again later.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseStatus"
                }
              }
            }
          }
        }
      }
    },
    "/Autotrade/NewAutotradeOrder": {
      "post": {
        "summary": "NewAutotradeOrder",
        "description": "Send a new closing order to the specified account. Only Stop and Limit OrderTypes are supported. Non-paginated endpoint.",
        "operationId": "C2_API_Autotrade/NewAutotradeOrder_POST",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NewAutotradeOrder"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NewAutotradeOrderResponse"
                }
              }
            }
          },
          "400": {
            "description": "BadRequest: Your request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseStatus"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized: Your API key is wrong.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseStatus"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden: You do not have access rights to the content. Unlike 401, your identity is known to the server.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseStatus"
                }
              }
            }
          },
          "406": {
            "description": "NotAcceptable: If incorrect Accept header was provided as part of the request. Accept header must be 'application/json'.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseStatus"
                }
              }
            }
          },
          "409": {
            "description": "Conflict: When the request is well-formed and valid, but conflicts with the current resource state in a way that prevents processing.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseStatus"
                }
              }
            }
          },
          "429": {
            "description": "TooManyRequests: When a request is rejected due to rate limits.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseStatus"
                }
              }
            }
          },
          "500": {
            "description": "InternalServerError: Used for internal errors. No details are provided to clients for security reasons. Please contact us at help@collective2.com if you see this.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseStatus"
                }
              }
            }
          },
          "503": {
            "description": "ServiceUnavailable: We're temporarily offline for maintenance. Please try again later.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseStatus"
                }
              }
            }
          }
        }
      }
    },
    "/Autotrade/CancelAutotradeOrder": {
      "delete": {
        "summary": "CancelAutotradeOrder",
        "description": "Cancel an order in the specified account. Auto Stop-Loss orders are not currently supported. Non-paginated endpoint.",
        "operationId": "C2_API_Autotrade/CancelAutotradeOrder_DELETE",
        "parameters": [
          {
            "name": "Account",
            "in": "query",
            "description": "The Autotrade account",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "PersonId",
            "in": "query",
            "description": "The C2 PersonID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64",
              "nullable": true
            }
          },
          {
            "name": "OrderId",
            "in": "query",
            "description": "The OrderID to be cancelled",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CancelAutotradeOrderResponse"
                }
              }
            }
          },
          "400": {
            "description": "BadRequest: Your request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseStatus"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized: Your API key is wrong.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseStatus"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden: You do not have access rights to the content. Unlike 401, your identity is known to the server.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseStatus"
                }
              }
            }
          },
          "404": {
            "description": "NotFound: When a non-existent endpoint or resource is requested (bad URL or requested data was not found).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseStatus"
                }
              }
            }
          },
          "304": {
            "description": "NotModified: Used when HTTP caching headers are in play. Only sent in response to If-Modified-Since headers."
          },
          "406": {
            "description": "NotAcceptable: If incorrect Accept header was provided as part of the request. Accept header must be 'application/json'.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseStatus"
                }
              }
            }
          },
          "409": {
            "description": "Conflict: When the request is well-formed and valid, but conflicts with the current resource state in a way that prevents processing.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseStatus"
                }
              }
            }
          },
          "429": {
            "description": "TooManyRequests: When a request is rejected due to rate limits.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseStatus"
                }
              }
            }
          },
          "500": {
            "description": "InternalServerError: Used for internal errors. No details are provided to clients for security reasons. Please contact us at help@collective2.com if you see this.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseStatus"
                }
              }
            }
          },
          "503": {
            "description": "ServiceUnavailable: We're temporarily offline for maintenance. Please try again later.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseStatus"
                }
              }
            }
          }
        }
      }
    },
    "/Autotrade/ReplaceAutotradeOrder": {
      "put": {
        "summary": "ReplaceAutotradeOrder",
        "description": "Cancel/Replace an open closing order in the specified account. Only strategy and manual exit orders are currently supported.",
        "operationId": "C2_API_Autotrade/ReplaceAutotradeOrder_PUT",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReplaceAutotradeOrder"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReplaceAutotradeOrderResponse"
                }
              }
            }
          },
          "400": {
            "description": "BadRequest: Your request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseStatus"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized: Your API key is wrong.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseStatus"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden: You do not have access rights to the content. Unlike 401, your identity is known to the server.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseStatus"
                }
              }
            }
          },
          "404": {
            "description": "NotFound: When a non-existent endpoint or resource is requested (bad URL or requested data was not found).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseStatus"
                }
              }
            }
          },
          "304": {
            "description": "NotModified: Used when HTTP caching headers are in play. Only sent in response to If-Modified-Since headers."
          },
          "406": {
            "description": "NotAcceptable: If incorrect Accept header was provided as part of the request. Accept header must be 'application/json'.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseStatus"
                }
              }
            }
          },
          "409": {
            "description": "Conflict: When the request is well-formed and valid, but conflicts with the current resource state in a way that prevents processing.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseStatus"
                }
              }
            }
          },
          "429": {
            "description": "TooManyRequests: When a request is rejected due to rate limits.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseStatus"
                }
              }
            }
          },
          "500": {
            "description": "InternalServerError: Used for internal errors. No details are provided to clients for security reasons. Please contact us at help@collective2.com if you see this.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseStatus"
                }
              }
            }
          },
          "503": {
            "description": "ServiceUnavailable: We're temporarily offline for maintenance. Please try again later.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseStatus"
                }
              }
            }
          }
        }
      }
    },
    "/Autotrade/GetBrokers": {
      "get": {
        "summary": "GetBrokers",
        "description": "Get a list of Autotrade brokers. Non-Paginated endpoint.",
        "operationId": "C2_API_Autotrade/GetBrokers_GET",
        "parameters": [
          {
            "name": "IncludeDisabled",
            "in": "query",
            "description": "Include the disabled brokers. Default is FALSE. (optional)",
            "schema": {
              "type": "boolean",
              "nullable": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetBrokersResponse"
                }
              }
            }
          },
          "400": {
            "description": "BadRequest: Your request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseStatus"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized: Your API key is wrong.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseStatus"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden: You do not have access rights to the content. Unlike 401, your identity is known to the server.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseStatus"
                }
              }
            }
          },
          "404": {
            "description": "NotFound: When a non-existent endpoint or resource is requested (bad URL or requested data was not found).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseStatus"
                }
              }
            }
          },
          "304": {
            "description": "NotModified: Used when HTTP caching headers are in play. Only sent in response to If-Modified-Since headers."
          },
          "406": {
            "description": "NotAcceptable: If incorrect Accept header was provided as part of the request. Accept header must be 'application/json'.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseStatus"
                }
              }
            }
          },
          "409": {
            "description": "Conflict: When the request is well-formed and valid, but conflicts with the current resource state in a way that prevents processing.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseStatus"
                }
              }
            }
          },
          "429": {
            "description": "TooManyRequests: When a request is rejected due to rate limits.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseStatus"
                }
              }
            }
          },
          "500": {
            "description": "InternalServerError: Used for internal errors. No details are provided to clients for security reasons. Please contact us at help@collective2.com if you see this.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseStatus"
                }
              }
            }
          },
          "503": {
            "description": "ServiceUnavailable: We're temporarily offline for maintenance. Please try again later.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseStatus"
                }
              }
            }
          }
        }
      }
    },
    "/Autotrade/StartAutotrade": {
      "post": {
        "summary": "StartAutotrade",
        "description": "Start or modify an Autotrade setup. Non-paginated endpoint.",
        "operationId": "C2_API_Autotrade/StartAutotrade_POST",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StartAutotrade"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "boolean"
                }
              }
            }
          },
          "400": {
            "description": "BadRequest: Your request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseStatus"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized: Your API key is wrong.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseStatus"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden: You do not have access rights to the content. Unlike 401, your identity is known to the server.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseStatus"
                }
              }
            }
          },
          "406": {
            "description": "NotAcceptable: If incorrect Accept header was provided as part of the request. Accept header must be 'application/json'.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseStatus"
                }
              }
            }
          },
          "409": {
            "description": "Conflict: When the request is well-formed and valid, but conflicts with the current resource state in a way that prevents processing.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseStatus"
                }
              }
            }
          },
          "429": {
            "description": "TooManyRequests: When a request is rejected due to rate limits.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseStatus"
                }
              }
            }
          },
          "500": {
            "description": "InternalServerError: Used for internal errors. No details are provided to clients for security reasons. Please contact us at help@collective2.com if you see this.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseStatus"
                }
              }
            }
          },
          "503": {
            "description": "ServiceUnavailable: We're temporarily offline for maintenance. Please try again later.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseStatus"
                }
              }
            }
          }
        }
      }
    },
    "/Autotrade/StopAutotrade": {
      "delete": {
        "summary": "StopAutotrade",
        "description": "Stop a autotrade setup. Non-paginated endpoint.",
        "operationId": "C2_API_Autotrade/StopAutotrade_DELETE",
        "parameters": [
          {
            "name": "Account",
            "in": "query",
            "description": "The Autotrade account",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "PersonId",
            "in": "query",
            "description": "The C2 PersonID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64",
              "nullable": true
            }
          },
          {
            "name": "BrokerId",
            "in": "query",
            "description": "The BrokerId",
            "schema": {
              "type": "integer",
              "format": "int32",
              "nullable": true
            }
          },
          {
            "name": "StrategyId",
            "in": "query",
            "description": "The StrategyId",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64",
              "nullable": true
            }
          },
          {
            "name": "LeavePositionsOpen",
            "in": "query",
            "description": "TRUE to leave positions open in the autotraded account. Default is FALSE",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "TerminateStrategySubscription",
            "in": "query",
            "description": "TRUE to stop the Strategy subscription. Default is FALSE",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "boolean"
                }
              }
            }
          },
          "400": {
            "description": "BadRequest: Your request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseStatus"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized: Your API key is wrong.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseStatus"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden: You do not have access rights to the content. Unlike 401, your identity is known to the server.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseStatus"
                }
              }
            }
          },
          "404": {
            "description": "NotFound: When a non-existent endpoint or resource is requested (bad URL or requested data was not found).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseStatus"
                }
              }
            }
          },
          "304": {
            "description": "NotModified: Used when HTTP caching headers are in play. Only sent in response to If-Modified-Since headers."
          },
          "406": {
            "description": "NotAcceptable: If incorrect Accept header was provided as part of the request. Accept header must be 'application/json'.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseStatus"
                }
              }
            }
          },
          "409": {
            "description": "Conflict: When the request is well-formed and valid, but conflicts with the current resource state in a way that prevents processing.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseStatus"
                }
              }
            }
          },
          "429": {
            "description": "TooManyRequests: When a request is rejected due to rate limits.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseStatus"
                }
              }
            }
          },
          "500": {
            "description": "InternalServerError: Used for internal errors. No details are provided to clients for security reasons. Please contact us at help@collective2.com if you see this.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseStatus"
                }
              }
            }
          },
          "503": {
            "description": "ServiceUnavailable: We're temporarily offline for maintenance. Please try again later.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseStatus"
                }
              }
            }
          }
        }
      }
    },
    "/Autotrade/GetSimResults": {
      "get": {
        "summary": "GetSimResults",
        "description": "Return SIM trading results for all subscribers who are using “free sims.”. Non-Paginated endpoint.",
        "operationId": "C2_API_Autotrade/GetSimResults_GET",
        "parameters": [
          {
            "name": "PersonId",
            "in": "query",
            "description": "PersonId (optional)",
            "schema": {
              "type": "integer",
              "format": "int64",
              "nullable": true
            }
          },
          {
            "name": "WhiteLabelSiteId",
            "in": "query",
            "description": "The WhiteLabel SiteId (optional)",
            "schema": {
              "type": "integer",
              "format": "int64",
              "nullable": true
            }
          },
          {
            "name": "ActiveOnly",
            "in": "query",
            "description": "Set to FALSE to get the full history of all Simulation results (optional). Default is TRUE",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "MaxAccountDays",
            "in": "query",
            "description": "The maximum account number of days to include (optional). Maximum default value is 365 days",
            "schema": {
              "type": "integer",
              "format": "int32",
              "nullable": true
            }
          },
          {
            "name": "MinLoginDays",
            "in": "query",
            "description": "The minimum number of days since the user logged in (optional)",
            "schema": {
              "type": "integer",
              "format": "int32",
              "nullable": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetSimResultsResponse"
                }
              }
            }
          },
          "400": {
            "description": "BadRequest: Your request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseStatus"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized: Your API key is wrong.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseStatus"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden: You do not have access rights to the content. Unlike 401, your identity is known to the server.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseStatus"
                }
              }
            }
          },
          "404": {
            "description": "NotFound: When a non-existent endpoint or resource is requested (bad URL or requested data was not found).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseStatus"
                }
              }
            }
          },
          "304": {
            "description": "NotModified: Used when HTTP caching headers are in play. Only sent in response to If-Modified-Since headers."
          },
          "406": {
            "description": "NotAcceptable: If incorrect Accept header was provided as part of the request. Accept header must be 'application/json'.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseStatus"
                }
              }
            }
          },
          "409": {
            "description": "Conflict: When the request is well-formed and valid, but conflicts with the current resource state in a way that prevents processing.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseStatus"
                }
              }
            }
          },
          "429": {
            "description": "TooManyRequests: When a request is rejected due to rate limits.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseStatus"
                }
              }
            }
          },
          "500": {
            "description": "InternalServerError: Used for internal errors. No details are provided to clients for security reasons. Please contact us at help@collective2.com if you see this.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseStatus"
                }
              }
            }
          },
          "503": {
            "description": "ServiceUnavailable: We're temporarily offline for maintenance. Please try again later.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseStatus"
                }
              }
            }
          }
        }
      }
    },
    "/Autotrade/ResetPaperTrade": {
      "put": {
        "summary": "ResetPaperTrade",
        "description": "Reset the specified PaperTrade account.",
        "operationId": "C2_API_Autotrade/ResetPaperTrade_PUT",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ResetPaperTrade"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BooleanResponseBase"
                }
              }
            }
          },
          "400": {
            "description": "BadRequest: Your request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseStatus"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized: Your API key is wrong.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseStatus"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden: You do not have access rights to the content. Unlike 401, your identity is known to the server.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseStatus"
                }
              }
            }
          },
          "404": {
            "description": "NotFound: When a non-existent endpoint or resource is requested (bad URL or requested data was not found).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseStatus"
                }
              }
            }
          },
          "304": {
            "description": "NotModified: Used when HTTP caching headers are in play. Only sent in response to If-Modified-Since headers."
          },
          "406": {
            "description": "NotAcceptable: If incorrect Accept header was provided as part of the request. Accept header must be 'application/json'.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseStatus"
                }
              }
            }
          },
          "409": {
            "description": "Conflict: When the request is well-formed and valid, but conflicts with the current resource state in a way that prevents processing.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseStatus"
                }
              }
            }
          },
          "429": {
            "description": "TooManyRequests: When a request is rejected due to rate limits.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseStatus"
                }
              }
            }
          },
          "500": {
            "description": "InternalServerError: Used for internal errors. No details are provided to clients for security reasons. Please contact us at help@collective2.com if you see this.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseStatus"
                }
              }
            }
          },
          "503": {
            "description": "ServiceUnavailable: We're temporarily offline for maintenance. Please try again later.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseStatus"
                }
              }
            }
          }
        }
      }
    },
    "/Autotrade/SyncPositionsToOpen": {
      "post": {
        "summary": "SyncPositionsToOpen",
        "description": "Reset the Autosync PositionsToOpen flags for all enabled asset classes in the specified account/strategy. Account will sync-to-open positions once for the strategy, then resume normal operation (i.e. sync open orders and the closing of positions).",
        "operationId": "C2_API_Autotrade/SyncPositionsToOpen_POST",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SyncPositionsToOpen"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SyncPositionsToOpenResponse"
                }
              }
            }
          },
          "400": {
            "description": "BadRequest: Your request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseStatus"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized: Your API key is wrong.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseStatus"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden: You do not have access rights to the content. Unlike 401, your identity is known to the server.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseStatus"
                }
              }
            }
          },
          "406": {
            "description": "NotAcceptable: If incorrect Accept header was provided as part of the request. Accept header must be 'application/json'.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseStatus"
                }
              }
            }
          },
          "409": {
            "description": "Conflict: When the request is well-formed and valid, but conflicts with the current resource state in a way that prevents processing.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseStatus"
                }
              }
            }
          },
          "429": {
            "description": "TooManyRequests: When a request is rejected due to rate limits.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseStatus"
                }
              }
            }
          },
          "500": {
            "description": "InternalServerError: Used for internal errors. No details are provided to clients for security reasons. Please contact us at help@collective2.com if you see this.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseStatus"
                }
              }
            }
          },
          "503": {
            "description": "ServiceUnavailable: We're temporarily offline for maintenance. Please try again later.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseStatus"
                }
              }
            }
          }
        }
      }
    },
    "/General/Hello": {
      "post": {
        "summary": "Hello",
        "description": "Test endpoint that can be used to test your API Key, RateLimits, Headers, etc",
        "operationId": "C2_API_General/Hello_POST",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Hello"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HelloResponse"
                }
              }
            }
          },
          "400": {
            "description": "BadRequest: Your request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseStatus"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized: Your API key is wrong.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseStatus"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden: You do not have access rights to the content. Unlike 401, your identity is known to the server.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseStatus"
                }
              }
            }
          },
          "406": {
            "description": "NotAcceptable: If incorrect Accept header was provided as part of the request. Accept header must be 'application/json'.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseStatus"
                }
              }
            }
          },
          "409": {
            "description": "Conflict: When the request is well-formed and valid, but conflicts with the current resource state in a way that prevents processing.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseStatus"
                }
              }
            }
          },
          "429": {
            "description": "TooManyRequests: When a request is rejected due to rate limits.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseStatus"
                }
              }
            }
          },
          "500": {
            "description": "InternalServerError: Used for internal errors. No details are provided to clients for security reasons. Please contact us at help@collective2.com if you see this.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseStatus"
                }
              }
            }
          },
          "503": {
            "description": "ServiceUnavailable: We're temporarily offline for maintenance. Please try again later.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseStatus"
                }
              }
            }
          }
        }
      }
    },
    "/General/GetProfile": {
      "get": {
        "summary": "GetProfile",
        "description": "Request details of a Person. Public profiles are visible to all. Private profile information will only be visible to the account owner. Non-paginated endpoint.",
        "operationId": "C2_API_General/GetProfile_GET",
        "parameters": [
          {
            "name": "PersonId",
            "in": "query",
            "description": "The C2 PersonId. If omitted, the requester's information will be returned.",
            "schema": {
              "type": "integer",
              "format": "int64",
              "nullable": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProfileResponse"
                }
              }
            }
          },
          "400": {
            "description": "BadRequest: Your request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseStatus"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized: Your API key is wrong.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseStatus"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden: You do not have access rights to the content. Unlike 401, your identity is known to the server.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseStatus"
                }
              }
            }
          },
          "404": {
            "description": "NotFound: When a non-existent endpoint or resource is requested (bad URL or requested data was not found).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseStatus"
                }
              }
            }
          },
          "304": {
            "description": "NotModified: Used when HTTP caching headers are in play. Only sent in response to If-Modified-Since headers."
          },
          "406": {
            "description": "NotAcceptable: If incorrect Accept header was provided as part of the request. Accept header must be 'application/json'.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseStatus"
                }
              }
            }
          },
          "409": {
            "description": "Conflict: When the request is well-formed and valid, but conflicts with the current resource state in a way that prevents processing.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseStatus"
                }
              }
            }
          },
          "429": {
            "description": "TooManyRequests: When a request is rejected due to rate limits.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseStatus"
                }
              }
            }
          },
          "500": {
            "description": "InternalServerError: Used for internal errors. No details are provided to clients for security reasons. Please contact us at help@collective2.com if you see this.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseStatus"
                }
              }
            }
          },
          "503": {
            "description": "ServiceUnavailable: We're temporarily offline for maintenance. Please try again later.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseStatus"
                }
              }
            }
          }
        }
      }
    },
    "/General/SearchProfiles": {
      "get": {
        "summary": "SearchProfiles",
        "description": "Search profiles using any field combination. Partial matches will be returned. Paginated endpoint. Only Admins, Geo and White-Label Admins can access this endpoint. If you're a GeoSite admin, you will see all your GeoSite members including your WhiteLabel members. If you're a WhiteLabel admin, you will see your WhiteLabel members, but not other GeoSite members. If you're neither, you will get a 403 error.",
        "operationId": "C2_API_General/SearchProfiles_GET",
        "parameters": [
          {
            "name": "PersonId",
            "in": "query",
            "description": "The C2 PersonId (optional)",
            "schema": {
              "type": "integer",
              "format": "int64",
              "nullable": true
            }
          },
          {
            "name": "FirstName",
            "in": "query",
            "description": "The FirstName. Not case-sensitive (optional)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "LastName",
            "in": "query",
            "description": "The FirstName. Not case-sensitive (optional)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Email",
            "in": "query",
            "description": "The Email. Not case-sensitive (optional)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "WhiteLabelSiteId",
            "in": "query",
            "description": "The White Label site Id (optional)",
            "schema": {
              "type": "integer",
              "format": "int64",
              "nullable": true
            }
          },
          {
            "name": "CountryCode",
            "in": "query",
            "description": "The person's country code. Not case-sensitive. (optional) See https://en.wikipedia.org/wiki/ISO_3166-2",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "DivisionCode",
            "in": "query",
            "description": "The person's subdivision (e.g. provinces or states). Not case-sensitive. (optional) See https://en.wikipedia.org/wiki/ISO_3166-2",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "IPAddress",
            "in": "query",
            "description": "The person's last known IP address (optional)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Phone",
            "in": "query",
            "description": "The verified Phone number (optional)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "IsAlive",
            "in": "query",
            "description": "The Person's Status (optional)",
            "schema": {
              "type": "boolean",
              "nullable": true
            }
          },
          {
            "name": "IsEmailValidated",
            "in": "query",
            "description": "The Person's email validation status (optional)",
            "schema": {
              "type": "boolean",
              "nullable": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProfileResponse"
                }
              }
            }
          },
          "400": {
            "description": "BadRequest: Your request is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseStatus"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized: Your API key is wrong.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseStatus"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden: You do not have access rights to the content. Unlike 401, your identity is known to the server.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseStatus"
                }
              }
            }
          },
          "404": {
            "description": "NotFound: When a non-existent endpoint or resource is requested (bad URL or requested data was not found).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseStatus"
                }
              }
            }
          },
          "304": {
            "description": "NotModified: Used when HTTP caching headers are in play. Only sent in response to If-Modified-Since headers."
          },
          "406": {
            "description": "NotAcceptable: If incorrect Accept header was provided as part of the request. Accept header must be 'application/json'.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseStatus"
                }
              }
            }
          },
          "409": {
            "description": "Conflict: When the request is well-formed and valid, but conflicts with the current resource state in a way that prevents processing.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseStatus"
                }
              }
            }
          },
          "429": {
            "description": "TooManyRequests: When a request is rejected due to rate limits.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseStatus"
                }
              }
            }
          },
          "500": {
            "description": "InternalServerError: Used for internal errors. No details are provided to clients for security reasons. Please contact us at help@collective2.com if you see this.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseStatus"
                }
              }
            }
          },
          "503": {
            "description": "ServiceUnavailable: We're temporarily offline for maintenance. Please try again later.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseStatus"
                }
              }
            }
[...]
